.child1{
    display:flex; 
      
    align-items: center;  
  flex-wrap:wrap;
      
  }

  .c2{
      display: flex;
   
      justify-content:space-between;
      align-items: center;
      
  }

  .c1{
    background-image: url("https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80");
  background-repeat: no-repeat;  
  
  background-size: cover;
  display:flex;
  flex-direction: column;
      color:white;
      align-items:center;
  }

li{
    display:inline;
}

a{
    color:black;
    text-decoration:none;
  }

  footer{
    display:flex;
    justify-content:center;
  }

  .c3{
    background-color: black;
    color:white;
  }
