.child1{
    display:flex; 
      
    align-items: center;  
  flex-wrap:wrap;
      
  }

  .c2{
      display: flex;
   
      justify-content:space-between;
      align-items: center;
      
  }
  
.c1{
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content:space-evenly;
}

li{
    display:inline;
}

a{
    color:black;
    text-decoration:none;
  }

  footer{
    display:flex;
    justify-content:center;
  }
